<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Test suite" parallel="classes">
    <test name="CalculatorTest">
    </test>
    <test name="test">
        <classes>
            <class name="tests.DifferenceTest"/>
            <class name="tests.DivisionTest"/>
            <class name="tests.MultiplicationTest"/>
            <class name="tests.SumTest"/>
        </classes>
    </test>
</suite>

